.ImageDiv {
  width: 90px;
  height: 90px;
  //   margin-top: 9px;
}
.CardDiv {
  cursor: pointer;
  align-items: center !important;

  margin-top: 20px;
  min-height: 120px;
  border-radius: 10px;
  background-color: white;
}
.ProgressBar {
  //   margin-top: 50px;
  max-height: 10px;
}
.TextDiv {
  display: flex;
  flex-direction: column;
  font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: start;
  h2 {
    white-space: nowrap;
    color: #252b2f;
  }
  p {
    white-space: nowrap;
    color: #252b2f;
  }
}
@media only screen and (min-width: 766px) {
  .CardDiv {
    min-width: 720px !important;
  }
}

@media only screen and (max-width: 300px) {
  .CardDiv {
  }
  .ImageDiv {
    margin-top: 10px;
  }
  .TextDiv {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: start;
    h2 {
      font-size: 19px;
      white-space: unset;
      color: #252b2f;
    }
    p {
      white-space: unset;
      color: #252b2f;
      font-size: 13px;
    }
  }
}
