.wordTable {
  margin-left: 6px;
  font-size: 17px;
  width: max-content;
  color: black;
  overflow-x: hidden;
}
@media only screen and (max-width: 330px) {
  .wordTable {
    margin-left: 6px;
    font-size: 13px;
    width: max-content;
    color: black;
    overflow-x: hidden;
  }
}
