.tickContainer {
  width: 30px;
  height: 30px;
  background: #e2070745;
  border-radius: 44px;
}
.tickContainer1 {
  width: 30px;
  height: 30px;
  background: rgba(0, 138, 34, 0.25);
  border-radius: 44px;
}

.correctLabel svg {
  color: rgb(226, 34, 46);
  position: absolute;
  left: 20px;
  top: 4.5px;
}
.resultCorrect {
  color: rgb(76, 175, 80);
  margin-top: 2px;
  font-size: 24px;
  font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.options {
  margin-top: 22px !important;
}
/* .resultCorrect{
  color: rgb(76, 175, 80);
  margin-top: 2px;
  font-size: 1.3rem;
  font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
} */
.next {
  margin-top: 7px !important;
}
.resultCorrect1 {
  color: rgb(226, 34, 46);
  margin-top: 2px;
  font-size: 24px;
  font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
  position: absolute;
  left: 14%;
}
.correctAnswer {
  color: #666e7e;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 800;
  white-space: nowrap;
}
.falseFeedback {
  border-top-style: ridge;
  padding-top: 10px;
}
.next {
  font-size: 17px;
}
.correctAnswer1 {
  font-size: 1.125rem;
  line-height: 1.7;
  font-weight: 500;
  color: #50545c;
  white-space: nowrap !important;
}
.questionImg {
  max-height: 40vh;
  max-width: 80vw;
}
#next {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-delay: 0.32s;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.AudioDiv {
  width: 337px;
  height: 41px;
  margin-top: 10px;
}
@media only screen and (max-width: 330px) {
  .Quiz {
    overflow-x: hidden;
  }
  .quizContainer {
    padding-right: 0;
    padding-left: 0;
    margin-top: 4px;
  }
  .closeCol {
    margin-left: 0px;
  }
  .iconItem {
    width: 20px;
  }
  .iconCloseDiv {
    margin-left: 10px !important;
    margin-top: 0px !important;
  }
  .introText {
    font-size: 15px;
  }
  .introText1 {
    font-size: 13px;
  }
  .bulbIntro {
    font-size: 30px;
    margin-top: 0;
  }
  .questionText {
    font-size: 16px !important;
  }
  .question {
    margin-top: 9px !important;
  }
  .optionButton {
    font-size: 13px;
  }
  .resultCorrect1 {
    left: 14%;
  }
  .correctAnswer {
    font-size: 13px;
  }
  .correctAnswer1 {
    position: absolute;
    left: 530%;
    bottom: -5px;
  }
  .feedbackContainer {
    padding-right: 0;
    padding-left: 0;
  }
  .options {
    margin-top: 4px !important;
  }
  .questionImg {
    min-width: 100px !important;
    max-width: 200px !important;
    max-height: 170px !important;
    min-height: 20px !important;
    object-fit: contain;
  }
  .continueDiv {
  }
  .nextRow {
    overflow-x: hidden;
  }
}
