.quizContainer {
  margin-top: 15px;
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Quiz {
  background: lightseagreen;
}
.Menu,
.Quiz,
.EndScreen {
  width: 100vw;
  height: 100vh;

  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .Menu button,
.Quiz button,
.EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
} */
button:hover {
  cursor: pointer;
}

.Menu,
.Quiz,
.EndScreen h1 {
  color: white;
}

.EndScreen {
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}
