/* Top icon group and progress bar */
.quizContainer {
  margin-top: 20px;
  width: 100vw;
  height: 100vh;
}
.iconMenu {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}
.menu-icons {
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 20px;
}
.iconItem {
  transition: all 0.2s ease;
}
.iconItem:hover {
  transform: scale(1.2);
}

.keyboard {
  padding: 5px;
}

.bulb {
  padding: 3px;
}
.download {
  padding: 4px;
}
.iconCloseDiv {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: flex-end;
  text-align: center;
}
/* Progressbar */
.progressbarDiv {
  margin-top: 8px;
}
/* Question title */
.question {
  margin-top: 35px;
}
.question h3 {
  font-size: 1.3rem;
  font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/* Question Image */

.questionImg {
  min-width: 30vw;
  max-width: 40vh !important;
}
/* Options button */
.options {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

/* .optionButton:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
} */
/* Next div */

.nextRow {
  background-color: white;
  width: 100%;
}
.next {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 120px;
  white-space: nowrap;
}
/* @media only screen and (max-width: 470px) {
  .nextDiv {
    padding-left: 16px;
  }
  .next {
    float: center;
    white-space: nowrap;
  }
  .questionImg {
    min-width: 330px;
    max-width: 350px;
  }
} */
.video {
  min-width: 30vw;
  max-width: 90vw;
  min-height: 40vh !important;
  max-height: 90vh !important;
}

@media only screen and (max-width: 768px) {
  .options {
    width: 100;
    display: flex;
    flex-direction: column;
  }
  .optionButton {
    width: 100%;
  }
  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .nextDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 18px;
  }
  .next {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0px;

    float: center;
    white-space: nowrap;
  }
  .video {
    min-width: 100%;
    max-width: 100%;
    min-height: 50%;
    max-height: 50%;
  }
  .questionImg {
    min-width: 30vw !important;
  }
  .Quiz {
    background: #1d2227;
    width: 100%;
    height: 100%;
  }
}
.Home {
  text-align: center;
  font-family: arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Quiz {
  background: #f2f7fd;
}
.Menu,
.Quiz,
.EndScreen {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Burger Menu */
.countryicon {
  width: 246px;
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.countryiconImg {
  width: 64px;
  height: 46px;
}
.languagetext {
  color: black;
  margin-top: 9px;
  margin-left: 13px;
  white-space: nowrap;
}
@media only screen and (max-width: 551px) {
  .lessonContainer {
    width: 100vw;
    overflow-x: hidden;
  }
  .cardRow {
    margin-top: 55px;
    margin-bottom: 27px;
    width: 95vw;
  }
  .cardRow {
    width: 100vw;
    margin-top: 50px !important;
  }

  .languagediv {
    position: absolute;
    left: 0;
    top: 0;
    background: #f2f7fd;
    z-index: 1;
    width: 100vw;
  }
  .countryicon {
    margin-top: 14px;
    margin-left: 67px;
    height: max-content;
    width: 310px;
    overflow-x: hidden;
    background: #f2f7fd;
  }

  .languagetext {
    font-size: 19px;
  }
  .pick {
    text-align: left;
  }
  .pick select {
    margin-left: 3px;
  }
}
/* .Menu button,
.Quiz button,
.EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
} */
button:hover {
  cursor: pointer;
}

.Quiz,
.EndScreen h3,
h1 {
  color: #007bff;
  font-size: 1.3rem;
  font-family: Nista, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.EndScreen,
.Menu {
  background-color: #f2f7fd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nextQuestion {
  width: 200px;
}
@media only screen and (max-width: 330px) {
  .languagediv {
    display: flex;
    flex-direction: row;
  }
  .select {
    position: absolute;
    right: 20px;
    top: 19px;
    z-index: 3;
  }
  .countryicon {
    margin-left: 0px;
    margin-top: 0px;
    position: fixed;
    left: 17px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 74px;
  }
  .countryiconImg {
    width: 75px;
    height: auto;
    margin-top: 5px;
    cursor: pointer;
  }
  .languagetext {
    margin-top: 17px;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    font-family: -webkit-pictograph;
  }
}
.lessonContainer {
  width: 100vw;
  overflow-x: hidden;
  padding-left: 0%;
  padding-right: 0%;

  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}

.lessonContainer::-webkit-scrollbar {
  display: none !important;
}
.cardCol {
  padding-right: 4px !important;
  padding-left: 20px !important;
}
